gradio
loguru
yt-dlp
git+https://github.com/facebookresearch/demucs#egg=demucs
scipy
librosa
git+https://github.com/m-bain/whisperx.git
python-dotenv
openai
audiostretchy
bilibili_toolman
apscheduler
pymysql
dbutils
requests
playwright
eventlet
schedule
cf_clearance
biliup
xhs
qrcode
loguru
Flask
gevent



httpx==0.24.0
Pillow==9.5.0
tenacity==8.2.2
opencv-python
aiomysql==0.2.0
redis~=4.6.0
pydantic==2.5.2
aiofiles~=23.2.1
fastapi==0.110.2
uvicorn==0.29.0
jieba==0.42.1
wordcloud==1.9.3
matplotlib==3.9.0
parsel==1.9.1
pyexecjs==1.5.1
screeninfo
aiosqlite
pytz